:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
button {
  cursor: pointer;
}

menu,
ol,
ul {
  list-style: none;
}

video {
  -webkit-filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
  filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
  outline: none;
  border: none;
}

video:focus-visible {
  outline: none;
}

iframe {
  border: none;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 1.3333333333vw;
  }
}
body {
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a,
picture {
  display: block;
}

.l-wrapper {
  overflow: hidden;
}

.l-wrapper iframe,
.l-wrapper img,
.l-wrapper picture,
.l-wrapper svg,
.l-wrapper video {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.l-container {
  width: 90%;
  max-width: 128rem;
  margin-inline: auto;
}

.c-credit {
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .c-credit {
    margin-top: 4rem;
  }
}
.c-credit__title {
  position: relative;
  padding-bottom: 0.6rem;
  color: #FF9D64;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .c-credit__title {
    font-size: 2.4rem;
    margin-bottom: -2rem;
  }
}
.c-credit__titleImage--main {
  width: 6.2rem;
}
@media screen and (max-width: 767px) {
  .c-credit__titleImage--main {
    width: 12.4rem;
  }
}
.c-credit__titleImage--coordinate {
  width: 9.1rem;
}
@media screen and (max-width: 767px) {
  .c-credit__titleImage--coordinate {
    width: 18.2rem;
  }
}
.c-credit__coordinate {
  margin-top: 2.7rem;
}
@media screen and (max-width: 767px) {
  .c-credit__coordinate {
    margin-top: 5.8rem;
  }
}
.c-credit__content {
  margin-top: 1.2rem;
}
.c-credit__content + .c-credit__content._2gyo {
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .c-credit__content + .c-credit__content._2gyo {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .c-credit__content {
    margin-top: 3rem;
  }
}
.c-credit__sizeTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.4rem;
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  border: 1px solid #FF9D64;
  border-radius: 10rem;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .c-credit__sizeTitle {
    margin-top: 2.8rem;
    margin-bottom: 1.6rem;
    padding: 0.8rem;
  }
}
.c-credit__sizeTitle small {
  display: block;
  color: #FF9D64;
  font-size: max(1rem, 10px);
  font-weight: 500;
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
@media screen and (max-width: 767px) {
  .c-credit__sizeTitle small {
    font-size: max(2rem, 10px);
  }
}
.c-credit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.2rem;
  margin-top: 1.2rem;
}
@media screen and (max-width: 767px) {
  .c-credit__list {
    row-gap: 2.4rem;
    margin-top: 2.4rem;
  }
}
@media screen and (min-width: 768px) {
  .c-credit__main.row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
.c-credit__item + .c-credit__item {
  margin-top: 2rem;
}
.c-credit__name {
  font-size: 1.4rem;
  line-height: 1.4;
  border-bottom: 1px solid #000;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.04rem;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .c-credit__name {
    font-size: 2.4rem;
    padding-bottom: 0.8rem;
  }
}
.c-credit__name small {
  font-size: 80%;
  font-weight: 400;
}
.c-credit__detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.3rem;
     -moz-column-gap: 1.3rem;
          column-gap: 1.3rem;
  width: 100%;
  margin-top: 1.2rem;
}
@media screen and (max-width: 767px) {
  .c-credit__detail {
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}
.c-credit__detail.l-icon::before {
  position: absolute;
  content: "";
  background: url(../images/l-size.svg) no-repeat left top/100%;
  width: 2.2rem;
  height: 2.2rem;
  left: 0;
  line-height: 0;
}
@media screen and (max-width: 767px) {
  .c-credit__detail.l-icon::before {
    width: 2.6rem;
    height: 2.6rem;
  }
}
.c-credit__price {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: right;
  padding-left: 3rem;
}
@media screen and (max-width: 767px) {
  .c-credit__price {
    font-size: 2.4rem;
    padding-left: 4rem;
  }
}
.c-credit__button {
  height: 2.5rem;
  width: 70px;
  padding: 5px 0 5px 0;
  background: #FF9D64;
  border: 1px solid #FF9D64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}
@media screen and (max-width: 767px) {
  .c-credit__button {
    padding: 0;
    font-size: 2.4rem;
    height: 4.6rem;
    width: 21.5rem;
  }
}
.c-credit__button span {
  display: inline-block;
  position: relative;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: transform;
}
@media screen and (max-width: 767px) {
  .c-credit__button span {
    font-size: 2.4rem;
  }
}
.c-credit__button span img {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  right: 0;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.c-credit__button:hover {
  background-color: #ffffff;
  color: #FF9D64;
}
.c-credit__button:hover span {
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
}
.c-credit__button:hover span img {
  opacity: 1;
  right: -2rem;
}

.js-scrollAnimation--fadeIn {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.js-scrollAnimation--fadeIn.is-active {
  opacity: 1;
}
.js-scrollAnimation--fadeIn.is-active li {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.js-scrollAnimation--fadeIn.is-active li p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.js-scrollAnimation--fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.js-scrollAnimation--fadeInUp.is-active {
  opacity: 1 !important;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.js-scrollAnimation--fadeIn li {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.js-scrollAnimation--fadeIn li p {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.js-scrollAnimation--fadeIn li:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.js-scrollAnimation--fadeIn li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.js-scrollAnimation--fadeIn li:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.js-scrollAnimation--fadeIn li:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.js-scrollAnimation--fadeIn li:nth-child(5) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.js-scrollAnimation--fadeIn li:nth-child(6) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.js-scrollAnimation--fadeIn li:nth-child(7) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.js-scrollAnimation--fadeIn li:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.js-scrollAnimation--fadeIn li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.js-scrollAnimation--fadeIn li a:hover {
  opacity: 0.7;
}
.js-scrollAnimation--zoomImage {
  opacity: 0;
  overflow: hidden;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.js-scrollAnimation--zoomImage.is-active {
  opacity: 1;
}
.js-scrollAnimation--zoomImage.is-active img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.js-scrollAnimation--zoomImage img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.p-sns {
  padding-top: 9.5rem;
  padding-bottom: 4.8rem;
}
@media screen and (max-width: 767px) {
  .p-sns {
    margin-top: -5vw;
    padding-top: 0;
    padding-bottom: 6.4rem;
  }
}
.p-sns__attention {
  font-size: max(1.1rem, 10px);
  text-align: center;
  line-height: 1.8181818182;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  .p-sns__attention {
    font-size: max(1.8rem, 10px);
  }
}
.p-sns__buttonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .p-sns__buttonList {
    gap: 1.2rem;
    margin-top: 9.6rem;
  }
}
@media screen and (max-width: 767px) {
  .p-sns__buttonList {
    gap: 2.4rem;
    margin-top: 8.5rem;
  }
}
.p-sns__buttonItem {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 10rem;
}
@media screen and (max-width: 767px) {
  .p-sns__buttonItem {
    width: 26.66666667vw;
  }
}
.p-sns__buttonItem:hover {
  opacity: 0.8;
}

.p-footer {
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-top: 1px solid #ddd;
  width: 94%;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .p-footer {
    padding: 11rem 0;
    width: 100%;
  }
}
.p-footer__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60rem;
  height: 10rem;
  margin-inline: auto;
  border: 1px solid #707070;
}
@media screen and (max-width: 767px) {
  .p-footer__button {
    width: 90%;
    height: 18rem;
    font-size: 0.875rem;
  }
}
.p-footer__button::before {
  position: absolute;
  content: "";
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  rotate: 45deg;
}
@media screen and (max-width: 767px) {
  .p-footer__button::before {
    width: 2rem;
    height: 2rem;
  }
}
.p-footer__button:not(:first-of-type) {
  margin-top: 2.4rem;
}
.p-footer__button:hover .p-footer__buttonArrow {
  right: 1.8rem;
}
@media screen and (max-width: 767px) {
  .p-footer__button:hover .p-footer__buttonArrow {
    right: 1.4rem;
  }
}
.p-footer__buttonText {
  width: 42rem;
  font-size: 2.2rem;
  text-align: center;
  line-height: 2.0454545455;
  letter-spacing: 0.12em;
}
@media screen and (max-width: 767px) {
  .p-footer__buttonText {
    width: 48rem;
    font-size: 2.8rem;
    line-height: 1.6071428571;
  }
}
.p-footer__buttonInstagram {
  width: 18rem;
  margin-left: 5.4rem;
}
@media screen and (max-width: 767px) {
  .p-footer__buttonInstagram {
    width: 30rem;
    margin-left: 0rem;
  }
}
.p-footer__buttonAccount {
  margin-left: 1.5rem;
  font-size: 2rem;
  line-height: 2.25;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .p-footer__buttonAccount {
    margin-left: 0.8rem;
    font-size: 2.8rem;
    line-height: 1.6071428571;
  }
}

.l-footer__logo {
  width: 17rem;
  height: 2.6rem;
  margin-top: 0;
  margin-inline: auto;
}
.l-footer__logo svg {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .l-footer__logo {
    margin-top: 0;
  }
}

.l-footer__copy {
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.12em;
  margin-top: 4rem;
}
@media screen and (max-width: 767px) {
  .l-footer__copy {
    margin-top: 3.5rem;
  }
}

.footer {
  padding: 0 0 70px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 0 0 70px;
  }
}
.footer__logo {
  width: 17rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 32vw;
    max-width: 150px;
  }
}
.footer .copyright {
  margin-top: 4rem;
  font-size: max(1.1rem, 10px);
  text-align: center;
  line-height: 1;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    margin-top: 50px;
    font-size: 2rem;
  }
}

.pagetop {
  position: fixed;
  right: 2%;
  bottom: 4%;
  z-index: 100;
  width: 6rem;
  height: 7.7rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.pagetop:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}
@media screen and (min-width: 768px) {
  .u-pcNone {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .u-spNone {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.p-mv {
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-mv {
    margin: 5.333333333vw;
    height: 123.3333333vw;
    background: #FF9D64;
  }
}
.p-mv .logo {
  position: absolute;
  width: 21rem;
  margin: 0 auto;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: fadeIn 0.5s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@media screen and (max-width: 767px) {
  .p-mv .logo {
    width: 28vw;
    right: auto;
    left: -1vw;
    top: -1.333333vw;
  }
}
.p-mv__bgImage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 767px) {
  .p-mv__bgImage {
    display: block;
  }
}
.p-mv__bgImage picture {
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-mv__bgImage picture {
    position: absolute;
    width: calc(50% + 5.333333333vw);
    opacity: 0;
    -webkit-animation: fadeIn 0.8s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
            animation: fadeIn 0.8s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
}
@media screen and (min-width: 768px) {
  .p-mv__bgImage picture::before {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
}
@media screen and (max-width: 767px) {
  .p-mv__bgImage picture.l {
    right: -5.333333333vw;
  }
}
.p-mv__bgImage picture.l::before {
  top: 0;
}
@media screen and (max-width: 767px) {
  .p-mv__bgImage picture.r {
    left: -5.333333333vw;
    bottom: 0;
  }
}
.p-mv__bgImage picture.r::before {
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .p-mv__bgImage.is-active picture.l {
    -webkit-transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition-delay: 2.8s;
            transition-delay: 2.8s;
    rotate: 8deg;
  }
}
.p-mv__bgImage.is-active picture.l::before {
  height: 0;
}
@media screen and (max-width: 767px) {
  .p-mv__bgImage.is-active picture.r {
    -webkit-transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition-delay: 2.85s;
            transition-delay: 2.85s;
    rotate: -8deg;
  }
}
.p-mv__bgImage.is-active picture.r::before {
  height: 0;
}
.p-mv__catchText {
  position: absolute;
  width: 95.3125vw;
  bottom: 2.083333333vw;
  left: 2.34375vw;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .p-mv__catchText {
    width: 100%;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 100%;
  }
}
.p-mv__catchText .txt01 {
  position: absolute;
  left: 0;
  width: 35vw;
  bottom: 5.66666667vw;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  will-change: transform;
}
@media screen and (max-width: 767px) {
  .p-mv__catchText .txt01 {
    width: 46.66666667vw;
    bottom: 28.66666667vw;
    left: auto;
    right: 2vw;
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
  }
}
.p-mv__catchText .txt02 {
  position: absolute;
  right: 0;
  width: 76.640625vw;
  bottom: 0;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  will-change: transform;
}
@media screen and (max-width: 767px) {
  .p-mv__catchText .txt02 {
    width: 54.93333333vw;
    bottom: 2vw;
    right: -2vw;
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
  }
}
.p-mv__catchText .txt03 {
  position: absolute;
  left: 35.46875vw;
  width: 19.6875vw;
  bottom: 9.66666667vw;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  will-change: transform;
}
@media screen and (max-width: 767px) {
  .p-mv__catchText .txt03 {
    bottom: auto;
    top: 10.33333vw;
    left: 5.333333vw;
    width: 39.46666667vw;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
}
.p-mv .slideIn {
  will-change: clip-path;
  -webkit-transition: -webkit-clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation: slideIn 0.7s;
  animation: slideIn 0.7s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-mv .fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn 0.9s 0.9s forwards;
  animation: fadeIn 0.9s 0.9s forwards;
}

@-webkit-keyframes clippath-top {
  0% {
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0);
  }
}

@keyframes clippath-top {
  0% {
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0);
  }
}
@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes slideIn {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@keyframes slideIn {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*------------------------------------------

about

-------------------------------------------*/
.p-about {
  position: relative;
  padding-top: 5.6rem;
  padding-bottom: 15rem;
  overflow: hidden;
}
.p-about.is-active::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.p-about::before {
  position: absolute;
  content: "";
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 100%;
  height: 80rem;
  left: 0;
  top: 0;
  background: #FF9D64;
  z-index: -1;
  opacity: 0.12;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
@media screen and (max-width: 767px) {
  .p-about::before {
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
    height: 102.1333333vw;
  }
}
@media screen and (max-width: 767px) {
  .p-about {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.p-about__description {
  position: relative;
  padding-bottom: 1.2rem;
}
.p-about__description::before {
  position: absolute;
  content: "";
  background: url(../../assets/images/ico_arrow.svg) no-repeat left top/100%;
  width: 4.6rem;
  height: 3.4rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: -5.6rem;
}
@media screen and (max-width: 767px) {
  .p-about__description::before {
    width: 4.2rem;
  }
}
.p-about__description .txt01 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2.4rem;
  line-height: 1.8;
  letter-spacing: 0.03rem;
}
@media screen and (max-width: 767px) {
  .p-about__description .txt01 {
    font-size: 4vw;
    text-align: left;
  }
}
.p-about__description .txt02 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.03rem;
}
@media screen and (max-width: 767px) {
  .p-about__description .txt02 {
    font-size: 3.5rem;
  }
}
.p-about__description .txt02 span {
  position: relative;
}
.p-about__description .txt02 span::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1.3rem;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .p-about__description .txt02 span::before {
    height: 2rem;
  }
}

.p-styling {
  margin-top: -100px;
  padding-top: 100px;
  margin-inline: auto;
  padding-bottom: 15rem;
}
@media screen and (max-width: 767px) {
  .p-styling {
    margin-top: -8vw;
    padding-top: 8vw;
    padding-bottom: 25.33333333vw;
  }
  .p-styling04 {
    padding-bottom: 8vw;
  }
}

/*------------------------------------------

secret

-------------------------------------------*/
.p-secret {
  margin-bottom: 15rem;
}
@media screen and (max-width: 767px) {
  .p-secret {
    margin-bottom: 10rem;
  }
}
.p-secret__title {
  position: relative;
  width: 48rem;
  margin: 7rem auto 14rem;
}
@media screen and (max-width: 767px) {
  .p-secret__title {
    width: 38rem;
  }
}
.p-secret__title::before, .p-secret__title::after {
  position: absolute;
  content: "";
  background: #000;
  width: 3px;
  height: 4.2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}
@media screen and (max-width: 767px) {
  .p-secret__title::before, .p-secret__title::after {
    width: 2px;
    height: 3.2rem;
  }
}
.p-secret__title::before {
  top: 0;
  margin-top: -6.5rem;
}
@media screen and (max-width: 767px) {
  .p-secret__title::before {
    margin-top: -5rem;
  }
}
.p-secret__title::after {
  bottom: 0;
  margin-bottom: -6.5rem;
}
@media screen and (max-width: 767px) {
  .p-secret__title::after {
    margin-bottom: -5rem;
  }
}
.p-secret__title .txt01 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.p-secret__title .txt02 {
  position: relative;
  top: 0;
}
.p-secret__title.is-active .txt01 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.p-secret_contents {
  margin-bottom: 7rem;
}
@media screen and (max-width: 767px) {
  .p-secret_contents {
    margin-bottom: 8rem;
  }
}
.p-secret_contents h3 {
  position: absolute;
  width: 23.3rem;
}
@media screen and (max-width: 767px) {
  .p-secret_contents h3 {
    width: 22.3rem;
  }
}
.p-secret_contents01 {
  max-width: 110rem;
  margin-inline: auto;
}
.p-secret_contents01 .p-secret_contents_ph {
  position: relative;
}
.p-secret_contents01 .p-secret_contents_ph h3 {
  left: 0;
  top: -4rem;
  opacity: 0;
  scale: 0.9;
  -webkit-transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .p-secret_contents01 .p-secret_contents_ph h3 {
    rotate: 55deg;
    left: auto;
    right: 0;
    z-index: 1;
    top: -13.33333vw;
  }
}
.p-secret_contents01 .p-secret_contents_ph .ph {
  width: 98rem;
  margin: 7rem auto 0;
}
@media screen and (max-width: 767px) {
  .p-secret_contents01 .p-secret_contents_ph .ph {
    position: relative;
    width: 100vw;
    left: -5vw;
    z-index: 0;
    margin-top: 12rem;
  }
}
.p-secret_contents01 .p-secret_contents_ph .txt {
  position: relative;
  margin-top: -32.5rem;
  opacity: 0;
  translate: 0 -2rem;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  left: -1.5rem;
}
@media screen and (max-width: 767px) {
  .p-secret_contents01 .p-secret_contents_ph .txt {
    margin-top: 0;
    left: 0;
  }
}
.p-secret_contents01 .p-secret_contents_ph.is-active h3 {
  scale: 1;
  opacity: 1;
}
.p-secret_contents02 {
  max-width: 105rem;
  margin-inline: auto;
}
.p-secret_contents02 .p-secret_contents_ph {
  position: relative;
}
.p-secret_contents02 .p-secret_contents_ph h3 {
  right: 5rem;
  top: -4rem;
  opacity: 0;
  scale: 0.9;
  -webkit-transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .p-secret_contents02 .p-secret_contents_ph h3 {
    rotate: -75deg;
    left: 0;
    right: auto;
    z-index: 1;
    top: -8.33333vw;
  }
}
.p-secret_contents02 .p-secret_contents_ph .ph {
  width: 98rem;
  margin: 7rem auto 0;
}
@media screen and (max-width: 767px) {
  .p-secret_contents02 .p-secret_contents_ph .ph {
    position: relative;
    width: 100vw;
    left: -5vw;
    z-index: 0;
    margin-top: 12rem;
  }
}
.p-secret_contents02 .p-secret_contents_ph .txt {
  position: absolute;
  margin-top: -52rem;
  opacity: 0;
  translate: 0 -2rem;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
@media screen and (max-width: 767px) {
  .p-secret_contents02 .p-secret_contents_ph .txt {
    position: relative;
    margin-top: 0;
    left: 0;
  }
}
.p-secret_contents02 .p-secret_contents_ph.is-active h3 {
  scale: 1;
  opacity: 1;
}
.p-secret .catch {
  position: relative;
  font-family: "Shippori Mincho", serif;
  text-align: center;
  line-height: 1.8;
  height: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80rem;
  margin: 0 auto;
  font-size: 4rem;
}
@media screen and (max-width: 767px) {
  .p-secret .catch {
    font-size: 3rem;
    width: 60rem;
    height: 12.4rem;
    margin-top: -3rem;
  }
}
.p-secret .catch::before, .p-secret .catch::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 100%;
  top: 0;
}
.p-secret .catch::before {
  left: 0;
  background: url(../../assets/images/ballown_l.svg) no-repeat left top/100%;
}
@media screen and (max-width: 767px) {
  .p-secret .catch::before {
    background: url(../../assets/images/ballown_l.svg) no-repeat left top/100% 100%;
  }
}
.p-secret .catch::after {
  right: 0;
  background: url(../../assets/images/ballown_r.svg) no-repeat left top/100%;
}
@media screen and (max-width: 767px) {
  .p-secret .catch::after {
    background: url(../../assets/images/ballown_r.svg) no-repeat left top/100% 100%;
  }
}
.p-secret .catch span {
  position: relative;
  display: inline-block;
}
.p-secret .catch span::before {
  position: absolute;
  content: "";
  background: #52B2FF;
  width: 0%;
  left: 0;
  bottom: 1rem;
  height: 1.3rem;
  z-index: -1;
  opacity: 0.4;
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.p-secret .catch span.line02::before {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.p-secret .catch.is-active span::before {
  width: 100%;
}

/*------------------------------------------

title

-------------------------------------------*/
.p-styling__title {
  height: 9.4rem;
  margin-inline: auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-styling__title {
    height: 7.5rem;
  }
}
.p-styling__title_inner {
  position: relative;
  display: inline-block;
  padding: 1rem 2.5rem;
}
.p-styling__title_inner.is-active::before {
  width: 100%;
}
.p-styling__title_inner::before {
  position: absolute;
  content: "";
  background: #FF9D64;
  opacity: 0.2;
  width: 0;
  height: 100%;
  left: 1rem;
  top: 1rem;
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.p-styling__title_inner .line01 {
  position: absolute;
  background: #000;
  width: 98%;
  height: 3px;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line01 {
    height: 2px;
  }
}
.p-styling__title_inner .line02 {
  position: absolute;
  background: #000;
  width: 3px;
  height: 90%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line02 {
    width: 2px;
  }
}
.p-styling__title_inner .line03 {
  position: absolute;
  background: #000;
  width: 98%;
  height: 3px;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line03 {
    height: 2px;
  }
}
.p-styling__title_inner .line04 {
  position: absolute;
  background: #000;
  width: 3px;
  height: 90%;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line04 {
    width: 2px;
  }
}
.p-styling__title_inner .title {
  position: relative;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .title {
    font-size: 3.6rem;
  }
}
.p-variation .p-styling__title {
  height: 4.3rem;
}
@media screen and (max-width: 767px) {
  .p-variation .p-styling__title {
    height: 5.4rem;
  }
}
.p-variation .p-styling__title_inner {
  padding: 1rem 2rem;
}
.p-variation .p-styling__title_inner::before {
  left: 0.8rem;
  top: 0.8rem;
}
@media screen and (max-width: 767px) {
  .p-variation .p-styling__title_inner {
    padding: 0.6rem 1.5rem;
  }
}
.p-variation .p-styling__title_inner .line01 {
  height: 2px;
}
.p-variation .p-styling__title_inner .line02 {
  position: absolute;
  width: 2px;
}
.p-variation .p-styling__title_inner .line03 {
  height: 2px;
}
.p-variation .p-styling__title_inner .line04 {
  width: 2px;
}
@media screen and (max-width: 767px) {
  .p-variation .p-styling__title_inner .line01 {
    height: 1px;
  }
  .p-variation .p-styling__title_inner .line02 {
    width: 1px;
  }
  .p-variation .p-styling__title_inner .line03 {
    height: 1px;
  }
  .p-variation .p-styling__title_inner .line04 {
    width: 1px;
  }
}
.p-variation .p-styling__title_inner .title {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .p-variation .p-styling__title_inner .title {
    font-size: 2.4rem;
  }
}

/*------------------------------------------

style_contents

-------------------------------------------*/
.p-style_contents + .p-style_contents {
  margin-top: 15rem;
}

.p-styling__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem;
  z-index: 2;
}
.p-styling__group + .p-styling__group {
  margin-top: min(13vw, 10rem);
}
@media screen and (max-width: 767px) {
  .p-styling__group {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    margin-top: 0;
    display: block;
  }
}
.p-styling__group__left h2 {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
@media screen and (min-width: 768px) {
  .p-styling__group__left .p-styling__icon {
    right: 39rem;
  }
}
@media screen and (max-width: 1300px) {
  .p-styling__group__left .p-styling__icon {
    right: 32rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group__left .p-styling__icon {
    right: -2vw;
    left: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .p-styling__group__left .p-styling__no {
    position: relative;
    left: calc(100% - 15.3rem);
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group__left .p-styling__no {
    position: relative;
    left: calc(100% - 15.3rem);
  }
}
.p-styling__group__right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .p-styling__group__right .p-styling__imageWrap {
    position: relative;
    left: 20vw;
  }
}
.p-styling__group__right h2 {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
.p-styling__group__right .p-styling__icon {
  left: 39rem;
}
@media screen and (max-width: 1300px) {
  .p-styling__group__right .p-styling__icon {
    left: 32rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group__right .p-styling__no {
    position: relative;
    left: calc(100% - 15.3rem);
  }
}
.p-styling__group .p-styling__icon {
  position: absolute;
  top: 3rem;
  width: 24.6rem;
  height: 24.6rem;
  pointer-events: none;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scale: 1.4;
  opacity: 0;
  -webkit-transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
@media screen and (max-width: 1300px) {
  .p-styling__group .p-styling__icon {
    scale: 1.2;
    top: -4rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group .p-styling__icon {
    scale: 1.4;
    left: -2vw;
    top: 12.7rem;
    width: 18.7rem;
    height: 18.7rem;
  }
}
.p-styling__group .p-styling__icon.is-active {
  opacity: 1;
  scale: 1;
}
@media screen and (max-width: 1300px) {
  .p-styling__group .p-styling__icon.is-active {
    scale: 0.8;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group .p-styling__icon.is-active {
    scale: 1;
  }
}
.p-styling__group .p-styling__icon.is-active h2 {
  opacity: 1;
  scale: 1;
}
.p-styling__group .p-styling__icon .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: rotation 9s linear infinite;
          animation: rotation 9s linear infinite;
}
.p-styling__group .p-styling__icon h2 {
  width: 15rem;
  scale: 1;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
@media screen and (max-width: 767px) {
  .p-styling__group .p-styling__icon h2 {
    width: 11rem;
  }
}
@media screen and (min-width: 768px) {
  .p-styling__imageWrap {
    width: 68rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__imageWrap {
    width: 80vw;
    margin: 0 -5vw;
  }
}
.p-styling__imageWrap.is-active .p-styling__image img {
  opacity: 1;
}
.p-styling__imageWrap .p-styling__images_txt {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 3rem;
}
@media screen and (max-width: 767px) {
  .p-styling__imageWrap .p-styling__images_txt {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 5vw;
  }
}
.p-styling__imageWrap .p-styling__images_txt_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .p-styling__imageWrap .p-styling__images_txt_r {
    margin-left: 15vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.p-styling__imageWrap .p-styling__images_txt a {
  width: 32.7rem;
}
@media screen and (max-width: 767px) {
  .p-styling__imageWrap .p-styling__images_txt a {
    width: 62.66666667vw;
  }
}
.p-styling__imageWrap .p-styling__images_txt picture {
  width: 5.9rem;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 767px) {
  .p-styling__imageWrap .p-styling__images_txt picture {
    width: 14.111111vw;
    margin-bottom: 2.6666vw;
  }
}
.p-styling__imageWrap .p-styling__image {
  overflow: hidden;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.p-styling__imageWrap .p-styling__image:hover {
  opacity: 0.7;
}
.p-styling__imageWrap .p-styling__image img {
  opacity: 0;
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
}
.p-styling__imageWrap .p-styling__image .p-styling__modelInfo strong {
  font-weight: 500;
}
.p-styling__no {
  width: 15.3rem;
}
@media screen and (max-width: 767px) {
  .p-styling__no {
    position: relative;
    width: 13.2rem;
    margin-top: -8.333333vw;
  }
}
.p-styling__no .txt {
  position: relative;
  margin-bottom: 1rem;
  will-change: clip-path;
  clip-path: inset(0 100% 0 0);
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.p-styling__no .no {
  opacity: 0;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.p-styling__modelInfo {
  margin-top: 1.2rem;
  font-size: max(1.3rem, 10px);
  letter-spacing: 0.05em;
  line-height: 1.6153846154;
}
@media screen and (max-width: 767px) {
  .p-styling__modelInfo {
    margin-top: 1.6rem;
    font-size: max(2.2rem, 10px);
    line-height: 1.4545454545;
  }
}
.p-styling__modelInfo span {
  padding-left: 7.9rem;
}
@media screen and (max-width: 767px) {
  .p-styling__modelInfo span {
    padding-left: 13.4rem;
  }
}
.p-styling__subTitle {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin-top: 3rem;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-styling__subTitle {
    font-size: 4rem;
    margin-top: -2.3333vw;
  }
}
.p-styling__subTitle span.default {
  position: relative;
  display: inline-block;
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
.p-styling__subTitle span.default .mask {
  position: absolute;
  left: 0;
  top: 0;
  color: #FF9D64;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  -webkit-transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.p-styling__subTitle.is-active span.default {
  position: relative;
  display: inline-block;
  color: #fff;
}
.p-styling__subTitle.is-active span.default .mask {
  position: absolute;
  left: 0;
  top: 0;
  color: #FF9D64;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.p-styling__description {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  text-align: justify;
  letter-spacing: 0.02em;
  line-height: 1.9285714286;
}
@media screen and (max-width: 767px) {
  .p-styling__description {
    font-size: 2.4rem;
    line-height: 1.72;
  }
}
.p-styling__detailWrap {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-styling__detailWrap {
    width: 46.5rem;
  }
}
.p-styling__detailWrap.is-active .p-styling__no .txt {
  clip-path: inset(0 0 0 0);
}
.p-styling__detailWrap.is-active .p-styling__no .no {
  opacity: 1;
}
.p-styling__button {
  margin-top: 4.8rem;
  margin-inline: auto;
  margin-top: 10rem;
}
@media screen and (min-width: 768px) {
  .p-styling__button {
    width: 34.5rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__button {
    margin-top: 12vw;
  }
}
.p-styling__buttonInner {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.p-styling__buttonInner:hover {
  opacity: 0.8;
}

/*------------------------------------------

style_variation

-------------------------------------------*/
.p-variation {
  width: 100rem;
  margin: 15rem auto 0;
}
@media screen and (max-width: 767px) {
  .p-variation {
    width: 100%;
    margin: 10rem auto 20vw;
  }
}
.p-variation__title {
  position: relative;
  width: 89rem;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (max-width: 767px) {
  .p-variation__title {
    width: 100%;
  }
}
.p-variation__title::before {
  position: absolute;
  content: "";
  border-top: 2px solid #000;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .p-variation__title::before {
    border-top: 1px solid #000;
  }
}
.p-variation__title.is-active picture::before {
  width: 0;
}
.p-variation__title picture {
  position: absolute;
  width: 26.8rem;
  left: 4rem;
  top: -8rem;
}
@media screen and (max-width: 767px) {
  .p-variation__title picture {
    rotate: 5deg;
    top: -6rem;
  }
}
.p-variation__title picture::before {
  position: absolute;
  content: "";
  background: #fff;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.p-variation__title h2 {
  position: relative;
  background: #fff;
  padding: 0 2rem;
  font-size: 4rem;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: 500;
  height: 100%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .p-variation__title h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .p-variation_contents {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
.p-variation__group {
  position: relative;
  margin-bottom: 8rem;
}
@media screen and (max-width: 767px) {
  .p-variation__group01 .p-variation__imageWrap {
    margin-top: 0;
    margin-bottom: -3rem;
  }
}
@media screen and (min-width: 768px) {
  .p-variation__imageWrap {
    width: 41.5rem;
    margin: 6rem auto 0;
  }
}
@media screen and (max-width: 767px) {
  .p-variation__imageWrap {
    width: 43rem;
    margin: 6rem auto 0;
  }
}
.p-variation__imageWrap.is-active .p-styling__image img {
  opacity: 1;
}
.p-variation__description {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  line-height: 1.9285714286;
}
@media screen and (max-width: 767px) {
  .p-variation__description {
    font-size: 2.4rem;
    line-height: 1.72;
    text-align: justify;
  }
}
.p-variation__detailWrap {
  position: relative;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-variation__detailWrap {
    width: 50rem;
    margin: 0 auto;
    text-align: left;
  }
}
.p-variation__detailWrap .c-credit {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .p-variation__detailWrap .c-credit {
    margin-top: 0;
    display: block;
    width: 100%;
  }
}